body {
	margin: 0;
	background-color: #000;
	overscroll-behavior: none;
}

#slide {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0%;
	width: 100%;
	height: 90%;
	padding : 0;
	margin: auto;
	box-sizing: border-box;
	text-align: center;
	z-index: 1;

}

#slide .text {
	padding : 100px 0 0 0;
	margin: auto;
	color: #333;
	font-family: 'Sawarabi Mincho', sans-serif;
	font-size: 150px;
}

#slide .image {
	max-width: auto;
	height: 90%;
	padding : 0;
	margin: auto;
}

#slide .link {
	padding : 220px 0 0 0;
	font-size: 50px;
}

#slide .images img {
	margin: 0 5px;
}

